<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/style.css"> 
	</head>

	<body>
		<h1 id="title">高筠婷's Page</h1>
		<h2 class="hello"><%= name %>∼你好！</h2>
		<div>
			<div class="post">
				
			</div>
			<div class="post">
				<h3>學校</h3>
				<p>MCU</p>
			</div>
			<div class="post">
				<h3>興趣</h3>
				<ul>
					<li>唱歌</li>
					<li>游泳</li>
					<li>看電影</li>
					<li>看小說</li>
					<li>日式茶道</li>
					<li>旅遊</li>
				</ul>
			</div>
			<div class="post">
				<h3>社團</h3>
				<ul>
					<li>學生會</li>
					<li>教育學程系學會</li>
					<li>茶道社</li>
					<li>國標舞社</li>
				</ul>
			</div>
			<div class="post">
				<h3>想去的地方</h3>
				<ul>
					<li>台灣:花東跟離島</li>
					<li>日本</li>
					<li>歐洲</li>
					<li>非洲</li>
				</ul>
			</div>
			<div class="post">
				
				<ul>
					
				</ul>
			</div>
		</div>
	</body>
</html>